NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_USE_MOCKS=false
API_TIMEOUT_MS=30000
BCB_SGS_BASE_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs
BCB_PTAX_BASE_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata
IBGE_AGREGADOS_BASE_URL=https://servicodados.ibge.gov.br/api/v3/agregados
IBGE_MALHAS_BASE_URL=https://servicodados.ibge.gov.br/api/v3/malhas
