HOST=0.0.0.0
PORT=3001
CORS_ORIGIN=http://localhost:3000
API_TIMEOUT_MS=10000
CACHE_TTL_DEFAULT=3600
CACHE_TTL_GEOJSON=86400
BCB_SGS_BASE_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs
BCB_PTAX_BASE_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata
IBGE_AGREGADOS_BASE_URL=https://servicodados.ibge.gov.br/api/v3/agregados
IBGE_MALHAS_BASE_URL=https://servicodados.ibge.gov.br/api/v3/malhas
